// / You can add global styles to this file, and also import other style files /
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.wrapper-main {
  display: flex;
}
.left-sidebar {
  padding: 10px;
  height: 100vh;
  background-color: #d55057;
}
.p-menu {
  border: none;
  background-color: #d55057;
  color: white;
}
.p-menuitem-text {
  color: white !important;
}

.p-menuitem-content:hover {
  background-color: #c74950 !important;
}
.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  background: #e0848a;
}
.sectionmain {
  padding: 10px;
  background-color: #e9ecef;
  width: 100%;
}
.flex {
  display: flex;
}
.w-75 {
  width: 75%;
}
.w-25 {
  width: 25%;
}
.flex-vertical {
  flex-direction: row;
}
